.admin h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.actions {
    display: flex;
    gap: 1rem;
}

.edit-btn, .delete-btn {
    font-size: 1.1rem;
    color: #fff;
}

.edit-btn {
    margin-top: 1rem;
    background-color: #13c9e9;
}

.delete-btn {
    margin-top: 1rem;
    background-color: #e91313;
}
