.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #17191f;
}

.navBar ul {
    display: flex;
    gap: 1rem;
}

.newBtn {
    font-weight: bold;
    border: 1px solid #fff;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    opacity: 0.8;
    transition: 0.4s;
}

.newBtn:hover {
    opacity: 1;
}


